# Visible from com.sun.midp.Configuration.getProperty(key)
#
# System tunable parameters  (system prefix indicates native only access)
#
system.jam_space:	1000000
system.display.double_buffered:true
system.display.screen_depth: 8
system.i18n.lang: en
system.i18n.encoding: ISO8859_1
#
# system.display.debug_screen: 
# system.display.visual_type: TrueColor
# system.display.kh_skins: TrueColor
#
# com.sun.midp.io.j2me.comm.buffersize: 256
# com.sun.midp.io.j2me.socket.buffersize: 256
#
com.sun.midp.midlet.scheduler: com.sun.midp.midlet.Scheduler
#
com.sun.midp.lcdui.eventHandler: com.sun.midp.lcdui.DefaultEventHandler
# For J2SE
# com.sun.midp.lcdui.eventHandler: com.sun.midp.lcdui.AWTEventHandler
#
com.sun.midp.lcdui.inputHandler: com.sun.midp.lcdui.DefaultInputMethodHandler
#
# com.sun.midp.midletsuite.installer: com.sun.midp.midletsuite.Installer
# com.sun.midp.midletsuite.installer: com.sun.midp.midletsuite.SecureInstaller
#
# com.sun.midp.graphicalmanager: com.sun.midp.dev.Manager
#
# com.sun.midp.lcdui.skin: classes/icons/skin.gif
#
#com.sun.midp.io.http.proxy: webcache:8080
#com.sun.midp.io.http.force_non_persistent: false
#com.sun.midp.io.http.persistent_connection_linger_time: 60000
#com.sun.midp.io.http.input_buffer_size: 256
#com.sun.midp.io.http.output_buffer_size: 2048
com.sun.midp.io.http.max_persistent_connections: 4
###
# Default values for SMS internal implementation.
com.sun.midp.io.j2me.sms.DatagramHost: localhost
#
# Alternate SMS port for CBS emulation
com.sun.midp.io.j2me.sms.CBSPort: 24680
# Sender's phone number
com.sun.midp.io.j2me.sms.PhoneNumber=+5551212
# Default SMS Sercice Center address
wireless.messaging.sms.smsc: +17815511212

# This file is appended at the end of the MIDP internal.config file.

com.sun.midp.io.enable_extra_protocols: true
com.sun.midp.io.http.use_chunks: true
