# Properties visible from System.getProperty()
microedition.jtwi.version: 1.0
microedition.configuration: CLDC-1.1
microedition.profiles: MIDP-2.0
microedition.locale:  en-US
microedition.platform: j2me
device.manufacturer: unknown 
device.model: wtk-emulator
software.version: 1.0
# microedition.encoding: ISO8859_1
microedition.commports: 0,1
#
# I18N aliases for common character encodings
SHIFT_JIS_InternalEncodingName: SJIS
X_SJIS_InternalEncodingName: SJIS
#
# CLDC implementation parameters

# use MIDP protocol implementations
javax.microedition.io.Connector.protocolpath: com.sun.kvem.io

# java.lang.Character.caseConverter: com.sun.cldc.i18n.uclc.DefaultCaseConverter
# com.sun.cldc.i18n.Helper.i18npath: com.sun.cldc.i18n.j2me
# microedition.implpath: com.sun.cldc
# com.sun.cldc.util.j2me.TimeZoneImpl.timezone: UTC

# JSR75 properties
microedition.pim.version: 1.0

# JSR082 properties
com.sun.kvem.jsr082.bluetooth.BCC: com.sun.kvem.jsr082.impl.bluetooth.BluetoothController

# This file is appended at the end of the MIDP system.config file.

# WMA
wireless.messaging.sms.smsc: +12345678900
wireless.messaging.mms.mmsc: http://mmsc.127.0.0.01

# MMAPI system properties
microedition.media.version: 1.1
supports.mixing: true
supports.audio.capture: true
supports.video.capture: true
supports.recording: true
audio.encodings: encoding=pcm encoding=pcm&rate=8000&bits=8&channels=1 encoding=pcm&rate=22050&bits=16&channels=2
video.encodings: encoding=rgb565&width=160&height=120 encoding=rgb565&width=320&height=240 encoding=rgb565&width=120&height=160
video.snapshot.encodings: encoding=jpeg encoding=png
streamable.contents: audio/x-wav


# This file is appended at the end of the MIDP system.config file.

# JSR75
microedition.io.file.FileConnection.version: 1.0
